node_modules/
dist/
.DS_Store
*.local

# cap sync ciktilar (yeniden uretilir)
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
ios/App/App/public/
ios/App/App/capacitor.config.json
